<h1>Welcome to Make or Break</h1>

<form {{on "submit" (fn this.submit @model.me)}}>
  <div>
    <label for="email">email</label>
    <Input
      @value={{@model.me.email}}
      class="fullwidth"
      disabled={{true}}
      id="email"
      name="email"
      placeholder="Type your email"
    />
  </div>

  <div>
    <label for="name">Name</label>
    <Input
      @value={{@model.me.name}}
      class="fullwidth"
      id="name"
      name="name"
      placeholder="Type your name"
    />
  </div>

  <div>
    <label for="tshirtSize">T-Shirt Size</label>
    <select name="tshirtSize" id="tshirtSize" class="fullwidth" {{on "change" (fn this.tshirtsize @model.me)}}>
      <option value="" disabled="">Choose your t-shirt size</option>
      <option value="XL" selected={{eq @model.me.tshirtSize "XL"}}>XL</option>
      <option value="L" selected={{eq @model.me.tshirtSize "L"}}>L</option>
      <option value="M" selected={{eq @model.me.tshirtSize "M"}}>M</option>
      <option value="S" selected={{eq @model.me.tshirtSize "S"}}>S</option>
    </select>
  </div>

  <div>
    <label class="hackathon-participant clearfix">
      <span>I am interested in participating in the Make or Break hackathon</span>

      <InputSlider
        @name="data-usage-consent"
        @checked={{this.welcome.interestedInParticipatingInHackathon}}
        @onchange={{fn this.change this.welcome "interestedInParticipatingInHackathon"}}
      />
    </label>
  </div>

  <div>
    <button class="Button primary hollow form centered fullwidth onClick buttonRef dispatch" type="submit">Continue</button>
  </div>
</form>
